.stocklocation {
    color: #434343;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
}


.productname {
    padding-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.orderlista {
    margin-bottom: 20px;
}
